body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #2e3647;
    color: antiquewhite;
}

h1 {
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
}

p {
    margin: 15px 0px 15px 0px;
}

.footer-class{
    position: fixed;
    top: 30%;
}

.footer-class>a{
    width: 100vw;
    display: flex;
}
/* Classes css */


.body-data{
    margin: 30px 90px 30px 90px;
}

.media-icons{
    margin: 0px 0px 20px 0px;
    flex-basis: 50px;
    width: 0.5%;
    height: auto;
}

.page-splitter {
    background-color: #2e3647;
    border-top: antiquewhite 7px dotted;
    height: 0px;
    width: 15%;
    margin: auto;
}

.fixed-top{
    margin: 0px 90px 30px 90px;
    padding-top: 30px;
}

.logo-navbar {
    max-width: 80px;
    height: auto;
}

.bg-trasparent,
.container-fluid {
    background-color: #2e3647;
    padding-left: 0%;
    padding-right: 0%;
}

.firstPage {
    height: auto;
    padding-top: 12%;
    padding-bottom: 10%;
}

.flex-container{
    margin-top: 30px;
    display: flex;
    gap: 10px;
    align-content: center;
    align-items: center;
}

.second-page, .third-page, .fourth-page{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 10% 0% 10% 0%;
}

.about-items{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
}

br{
    line-height: 60px;
}

.about-me{
    text-align: center;
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 30px;
}

.flex-item {
    width: 50%;

}

.about-pic {
    max-width: 20%;
    height: auto;
}

.hero-pic {
    max-width: 70%;
    height: auto;
}

.right {
    display: flex;
    justify-content: center;
}

.navbar-toggler-custom {
    color: antiquewhite;
}

.services-grid{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
}

.services-grid>div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 30px;
}

.services-grid p{
    width: 80%;
}

.services-img{
    width: 50%;
    height: auto;
}

.api-img-service{
    order: 1;
}

.feedback-img{
    width: 50%;
    height: auto;
    margin-top: 60px;
}

@media (max-width: 1000px) {

    body,h3{
        font-size: 30px;
    }

    h1 {
        font-size: 50px;
        font-family: 'Roboto Slab', serif;
    }


    .flex-container {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .left {
        text-align: center;
        order: 1;
        align-items: center;
        align-content: center;
    }

    .right {
        justify-content: center;
        align-items: center;
    }

    .flex-item {
        width: 100vw;
    }

    .hero-pic {
        max-width: 100%;
        height: auto;
    }

    .logo-navbar {
        max-width: 100px;
        height: auto;
    }

    .navbar {
        font-size: 20px;
        flex-basis: 10px;
        font-size: 30px;
    }

    .skill{
        width: 20vw;
        height: 70px;
        font-size: 30px;
        display: inline-flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
}

/* id css */